USE [master]
GO
/****** Object:  Database [BancoCentral]    Script Date: 23/3/2019 14:02:58 ******/
CREATE DATABASE [BancoCentral]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BancoCentral', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BancoCentral.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BancoCentral_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BancoCentral_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BancoCentral].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BancoCentral]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[idAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[accion] [varchar](100) NOT NULL,
	[fechaEjecucion] [datetime] NOT NULL,
	[quienEjecuto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Auditoria] PRIMARY KEY CLUSTERED 
(
	[idAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canton](
	[idCanton] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[provinciaId] [int] NOT NULL,
 CONSTRAINT [PK_Canton] PRIMARY KEY CLUSTERED 
(
	[idCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidoPaterno] [varchar](50) NOT NULL,
	[apellidoMaterno] [varchar](50) NULL,
	[cedula] [int] NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[profesion] [varchar](50) NULL,
	[distritoId] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteIndicador]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteIndicador](
	[idIndicadorCliente] [int] IDENTITY(1,1) NOT NULL,
	[indicadorId] [int] NOT NULL,
	[clienteId] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ClienteIndicador] PRIMARY KEY CLUSTERED 
(
	[idIndicadorCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distrito](
	[idDistrito] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cantonId] [int] NOT NULL,
 CONSTRAINT [PK_Distrito] PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicador]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicador](
	[idIndicador] [int] IDENTITY(1,1) NOT NULL,
	[tasaBasicaPasiva] [varchar](50) NOT NULL,
	[tasaPoliticaMonetaria] [varchar](50) NOT NULL,
	[tipoCambioCompra] [varchar](50) NOT NULL,
	[tipoCambioVenta] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[grafico] [varchar](200),
 CONSTRAINT [PK_Indicador] PRIMARY KEY CLUSTERED 
(
	[idIndicador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 23/3/2019 14:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[idPronvincia] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[idPronvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Canton] ([idCanton], [nombre], [provinciaId]) VALUES (1, N'San José', 1)
INSERT [dbo].[Canton] ([idCanton], [nombre], [provinciaId]) VALUES (2, N'Escazú', 1)
INSERT [dbo].[Canton] ([idCanton], [nombre], [provinciaId]) VALUES (3, N'Desamparados', 1)
INSERT [dbo].[Provincia] ([idPronvincia], [nombre]) VALUES (1, N'San José')
INSERT [dbo].[Provincia] ([idPronvincia], [nombre]) VALUES (2, N'Alajuela')
INSERT [dbo].[Provincia] ([idPronvincia], [nombre]) VALUES (3, N'Cartago')
INSERT [dbo].[Distrito] ([idDistrito], [nombre], [cantonId]) VALUES (1, N'Las Américas',41)
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FK_Canton_Provincia] FOREIGN KEY([provinciaId])
REFERENCES [dbo].[Provincia] ([idPronvincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FK_Canton_Provincia]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Distrito] FOREIGN KEY([distritoId])
REFERENCES [dbo].[Distrito] ([idDistrito])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Distrito]
GO
ALTER TABLE [dbo].[ClienteIndicador]  WITH CHECK ADD  CONSTRAINT [FK_ClienteIndicador_Cliente] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[ClienteIndicador] CHECK CONSTRAINT [FK_ClienteIndicador_Cliente]
GO
ALTER TABLE [dbo].[ClienteIndicador]  WITH CHECK ADD  CONSTRAINT [FK_ClienteIndicador_Indicador] FOREIGN KEY([indicadorId])
REFERENCES [dbo].[Indicador] ([idIndicador])
GO
ALTER TABLE [dbo].[ClienteIndicador] CHECK CONSTRAINT [FK_ClienteIndicador_Indicador]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FK_Distrito_Canton] FOREIGN KEY([cantonId])
REFERENCES [dbo].[Canton] ([idCanton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FK_Distrito_Canton]
GO
USE [master]
GO

SELECT * FROM Indicador ORDER BY fecha;

SELECT * FROM ClienteIndicador;

SELECT * FROM Cliente;



select top 1 MAX(fecha) from ClienteIndicador;

DROP TABLE Indicador;

DROP TABLE ClienteIndicador