
    @section SideBar{
        <div class="row">
            <aside class="sidebar">
                <nav class="nav embed-responsive">
                    <ul>
                        <li class="navbar-brand"><a href="#historia">Historia</a></li>
                        <li class="navbar-brand"><a href="#mision">Misión</a></li>
                        <li class="navbar-brand"><a href="#vision">Visión</a></li>
                        <li class="navbar-brand"><a href="#valores">Valores</a></li>
                        <li class="navbar-brand"><a href="#respSocial">Responsabilidad Social</a></li>
                        <li class="navbar-brand"><a href="#organigrama">Organigrama</a></li>
                        <li class="navbar-brand"><a href="#objGeneral">Objetivo General</a></li>
                        <li class="navbar-brand"><a href="#objEspecificos">Objetivos Específicos</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    }
    @section Content{
        <div class="container-fluid">
            <div class="ancla" id="historia">

                <h1>Historia</h1>
                <p>
                    El Progreso es una empresa costarricense, nacida en el año 2010 en Desamparados de San José, la cual desde sus inicios se ha ganado
                    el corazón de los costarricenses brindando productos de crédito y ahorro, a precios justos y accesibles para el público en general.
                    Dada la demanda actual en el mercado financiero, y la creciente tendencia en el análisis de datos, El Progreso ha visto la necesidad
                    de desarrollar un sistema web, que le permita tener un contacto más directo con sus clientes, y a la vez brindar a los usuarios información
                    de importancia para la toma de decisiones financieras, esto mediante una interfaz amigable, confiable y que sea vanguardista de las últimas tecnologías.
                    El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es consciente de la poca educación financiera que reciben los
                    mismos en los centros educativos de primera y segunda enseñanza, así como universitario, por lo cual desea incluir como pilar de la aplicación web,
                    información de tres indicadores financieros que usualmente las personas no conocen: Tasa de Política Monetaria, Tasa Básica Pasiva y Tipos de Cambio
                    del dólar estadounidense con relación al colón costarricense.
                    Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa Rica y los mismos pueden ser consultados en la página web oficial del mismo.
                    A continuación se enuncian algunos aspectos importantes generales de la empresa como insumo para el desarrollo de la aplicación web.
                </p>

            </div>
            <hr />
            <div class="ancla" id="mision">

                <h1>Misión</h1>
                <p>
                    Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades
                    de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.
                </p>

            </div>
            <hr />
            <div class="ancla" id="vision">

                <h1>Visión</h1>
                <p>
                    Ser reconocidos como la entidad financiera líder en la creación, desarrollo, administración y distribución de inversiones, comprometidos con el crecimiento económico del país.
                </p>

            </div>
            <hr />
            <div class="ancla" id="valores">

                <h1>Valores</h1>
                <p>
                    Nuestros valores son los siguientes:
                    <ul>
                        <li>Integridad</li>
                        <li>Creatividad</li>
                        <li>Enseñar con el ejemplo</li>
                        <li>Escuchar para entender</li>
                        <li>Trabajar en equipo</li>
                        <li>Desarrollar a otros</li>
                    </ul>
                </p>
            </div>
            <hr />
            <div class="ancla" id="respSocial">

                <h1>Responsabilidad Social</h1>
                <p>
                    En El Progreso contamos con políticas y prácticas fundamentadas en principios y valores, que contribuyen al logro de los
                    objetivos de la compañía y al fortalecimiento de relaciones de mutuo beneficio con nuestros grupos de interés (accionistas,
                    clientes, empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en general), controlando y midiendo los impactos social, económico y ambiental.
                    De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad social empresarial, a través de las
                    nidades de negocio, las filiales y empresas del portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la sociedad.
                    Por lo anterior y tomando en consideración su vasta experiencia como programador y la recomendación de algunos de nuestros
                    clientes, El Progreso lo ha contratado para que realice una herramienta acorde a las necesidades que se presentarán en los siguientes puntos.

                </p>
            </div>
            <hr />
            <div class="ancla" id="organigrama">

                <h1>Organigrama</h1>
                <p>
                    Lorem ipsum set dolor sit................

                </p>
            </div>
            <hr />
            <div class="ancla" id="objGeneral">

                <h1>Objetivo General</h1>
                <p>
                    Lorem ipsum set dolor sit................

                </p>
            </div>
            <hr />
            <div class="ancla" id="objEspecificos">

                <h1>Objetivos Específicos</h1>
                <p>
                    Lorem ipsum set dolor sit................

                </p>
            </div>
        </div>

    }
