<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    body {
        padding-top: 30px;
    }

    #Head {
        background-color: #19A288;
        width: 100%;
        margin-top: -14px;
    }

    #Card {
        background-color: #649A8E;
    }
</style>

<body>
    <!-- Header -->
    <header class="py-5 mb-5" id="Head">
        <div class="container-fluid">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">Banco Central Costarricense</h1>
                    <p class="lead mb-5 text-white-50">Queremos ser tu banco. Un banco para tus ideas.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Historia</h2>
                <hr>
                <p> El Progreso es una empresa costarricense, nacida en el año 2010 en Desamparados de San José, la cual desde sus inicios se ha ganado el corazón de los costarricenses brindando productos de crédito y ahorro, a precios justos y accesibles para el público en general.</p>
                <p>Dada la demanda actual en el mercado financiero, y la creciente tendencia en el análisis de datos, El Progreso ha visto la necesidad de desarrollar un sistema web, que le permita tener un contacto más directo con sus clientes, y a la vez brindar a los usuarios información de importancia para la toma de decisiones financieras, esto mediante una interfaz amigable, confiable y que sea vanguardista de las últimas tecnologías.</p>
                <p> El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es consciente de la poca educación financiera que reciben los mismos en los centros educativos de primera y segunda enseñanza, así como universitario, por lo cual desea incluir como pilar de la aplicación web, información de tres indicadores financieros que usualmente las personas no conocen: Tasa de Política Monetaria, Tasa Básica Pasiva y Tipos de Cambiodel dólar estadounidense con relación al colón costarricense.</p>
                <p>Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa Rica y los mismos pueden ser consultados en la página web oficial del mismo.</p>
                <p>A continuación se enuncian algunos aspectos importantes generales de la empresa como insumo para el desarrollo de la aplicación web.</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100" id="Card">
                    <img class="card-img-top" src="http://www.mera-ghar.com/wp-content/uploads/2018/07/mission800.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Misión</h4>
                        <p class="card-text">
                            Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades
                            de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" id="Card">
                    <div class="card-body">
                        <h4 class="card-title">Visión</h4>
                        <p class="card-text">Ser reconocidos como la entidad financiera líder en la creación, desarrollo, administración y distribución de inversiones, comprometidos con el crecimiento económico del país.</p>
                    </div>
                    <img class="card-img-bottom" src="http://www.bakeparlor.com/wp-content/uploads/2018/03/vission800.png">
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100" id="Card">
                    <img class="card-img-top" src="http://colegiomanuelmejiavallejo.edu.co/wp-content/uploads/2017/05/valores-300x183.png">
                    <div class="card-body">
                        <h4 class="card-title">Valores</h4>
                        <p class="card-text">
                            Nuestros valores son los siguientes:
                            <ul>
                                <li>Integridad</li>
                                <li>Creatividad</li>
                                <li>Enseñar con el ejemplo</li>
                                <li>Escuchar para entender</li>
                                <li>Trabajar en equipo</li>
                                <li>Desarrollar a otros</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Responsabilidad Social</h2>
                <hr>
                <p>
                    En El Progreso contamos con políticas y prácticas fundamentadas en principios y valores, que contribuyen al logro de los
                    objetivos de la compañía y al fortalecimiento de relaciones de mutuo beneficio con nuestros grupos de interés (accionistas,
                    clientes, empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en general), controlando y midiendo los impactos social, económico y ambiental.
                </p>
                <p>
                    De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad social empresarial, a través de las
                    nidades de negocio, las filiales y empresas del portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la sociedad.
                </p>
                <p>
                    Por lo anterior y tomando en consideración su vasta experiencia como programador y la recomendación de algunos de nuestros
                    clientes, El Progreso lo ha contratado para que realice una herramienta acorde a las necesidades que se presentarán en los siguientes puntos..
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Organigrama</h2>
                <hr>
                <img src="~/Content/OrganigramaElProgreso.png" />
            </div>
        </div>


    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>
