
@{
    ViewBag.Title = "IndexTCD";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    h2 {
        color: #61bd4f;
    }

    #Head {
        background-color: #61bd4f;
    }

    #Card {
        background-color: #649A8E;
    }

    p {
        text-align: justify;
    }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.arrayToDataTable(@Html.Raw(@ViewBag.aqui)); @*@Url.Action("TPB", "ObtenerDatos") @Html.Raw(@ViewBag.aqui)*@

        var options = {
            title: 'Grafico Lineal Del Tipo Cambio Compra y Venta del Dolar de los Ultimos 5 años',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<body>
    <header class="py-5 mb-5" id="Head">
        <div class="container h-100 text-center">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">Tipo Cambio de Dolar</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto mb-5">
                    <h2>Descripción</h2>
                    <hr>
                    <p>Suele hacer referencia a la asociación cambiaria que se puede establecer entre dos monedas de distintas naciones. Este dato permite saber qué cantidad de una moneda X se puede conseguir al ofrecer una moneda Y. En otras palabras, el tipo de cambio señala cuánta plata puedo adquirir con divisas de otro país.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto mb-5">
                    <h2>Fórmula de Cálculo</h2>
                    <hr>
                    <p>Me falta</p>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto mb-5">
                    <h2>Periocidad de Cálculo</h2>
                    <hr>
                    <p>Me FAlta</p>
                </div>
            </div>
        </div>
    </section>

    <!-- /.row -->
    <section id="grafico">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto mb-5">
                    <h2>Grafico Lineal de Tipo del Cambio Compra y Venta del Dolar</h2>
                    <div id="curve_chart" style="width: 1000px; height: 500px"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.row -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto mb-5">
                    <h2>Impacto para los costarricenses</h2>
                    <hr>
                    <p>Me FAlta</p>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    @*<script src="~/Scripts/Grafico3.js"></script>*@
</body>




